.footer{
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 72px;
    margin-top: -72px;
    .copyright{
        color: #a9a9a9;
        text-align: center;
    }
}